.search-bar-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  border-bottom: 1px solid #777;
}

.logo {
  width: 200px;
}

.search-bar {
  width: 40%;
}

input {
  width: 60%;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #777;
  color: #777;
}

.icon-container {
  display: flex;
  width: 20%;
}
.icons {
  width: 30%;
}
