.search-bar-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}

hr {
  height: 3rem;
  color: #333;
}

.logo {
  width: 100%;
}

.search-bar {
  width: 40%;
}
input {
  width: 100%;
  line-height: 30px;
  text-align: center;
  border-radius: 4px;
}

.icons {
  width: 30%;
}
