.search-bar-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 100px;
  margin: 0 auto;
  border: 1px solid red;
}

hr {
  height: 3rem;
}
